<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>
  <div id="Versions">
    <div class="flex_container">
      <div class="table">
        <div class="tr th">
          <div class="td">
            Libs
          </div>
          <div class="td">
            Version
          </div>
        </div>
        <div class="tr">
          <div class="td-center">
            Node
          </div>
          <div class="td-center">
            {{node_version}}
          </div>
        </div>
        <div class="tr">
          <div class="td-center">
            Chrome
          </div>
          <div class="td-center">
            {{chrome_version}}
          </div>
        </div>
        <div class="tr">
          <div class="td-center">
            Electron
          </div>
          <div class="td-center">
            {{electron_version}}
          </div>
        </div>
        <div class="tr">
          <div class="td-center">
            Vue
          </div>
          <div class="td-center">
            {{vue_version}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Files">

    <div class="flex_container">
      <textarea placeholder="youtube urls" v-model="urls" rows="5">

      </textarea>
      <button type="button" v-on:click="addUrls()">addUrls</button>
      <button type="button" v-on:click="addFile()">addFile</button>
      <button type="button" v-on:click="clearAllFiles()">removeAllFile</button>
      <button type="button" v-on:click="changeDefaultFolder">openDirectory</button>
    </div>

    <div class="flex_container">
      <div class="table">
        <div class="tr th">
          <div class="td-center">
            thumbnail
          </div>
          <div class="td-center">
            name
          </div>
          <div class="td-center">
            url
          </div>
          <div class="td-center">
            action
            </div>
        </div>
        <div class="tr" v-for="(item,index) in queue">
          <div class="td-center">
            thumbnail
          </div>
          <div class="td-center">
            {{item.title}}
          </div>
          <div class="td-center">
            {{item.url}}
          </div>
          <div class="td-center">
            
          </div>
        </div>
      </div>
    </div>

    <div class="flex_container">
      <div class="table">
        <div class="tr th">
          <div class="td-center">
            Download Progress
          </div>
          <div class="td-center">
            File
          </div>
          <div class="td-center">
            Action
          </div>
          <div class="td-center">
            Error
          </div>
        </div>
        <div class="tr" v-for="(file,index) in files">
          <div class="td-center" v-bind:id="file.id">
          </div>
          <div class="td-center">
            {{file.file}}<br />
            {{file.remFile}}<br />
            {{file.locFile}}<br />
          </div>
          <div class="td-center">
            <button type="button" v-on:click="clearFile(index)">removeFile</button>
          </div>
          <div class="td-center">
            {{file.error0}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="debug"></div>

</body>

<script>
  // You can also require other files to run in this process
  require('./renderer.js')

</script>

</html>