<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Audl</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body class="body">
  <div id="Files">
    <div class="flex_container">

      <div class="item-last" v-for="(url,index) in urls">
        <input class="inputs" ref="input" v-on:input="updateUrl(index, $event.target.value)" v-on:blur="updateUrl(index, $event.target.value)" v-bind:value="url"
          placeholder="Youtube URL.." size="55">
        <a class="text-button-light" href="#" v-on:click="addInput()">Add</a>
        <a class="text-button-light" href="#" v-on:click="removeInput(index)">Remove</a>
        <span class="error" v-if="line_errors[index].error" style="margin-left: 5px;">{{line_errors[index].msg}}</span>
        <span class="valid" v-if="!line_errors[index].error" style="margin-left: 5px;">{{line_errors[index].msg}}</span>
      </div>

      <textarea class="inputs item-last" placeholder="youtube urls" v-on:input="updateBatch($event.target.value)" v-model="batch" rows="5" style="resize: vertical; margin: 5px;"></textarea>

      <div class="item"><a class="text-button-light" href="#" v-on:click="addUrls()">Add Downloads</a></div>
      <div class="item"><a class="text-button-light" href="#" v-on:click="clearAllFiles()">Remove all Downloads</a></div>
      <div class="item-last">
        <a class="text-button-light" href="#" v-on:click="changeDefaultFolder()">Change Directory</a><span style="margin-left: 20px; font-size: 11px">{{default_folder}}</span>
      </div>
      
    </div>

    <div class="flex_container" v-if="files.length > 0">
      <div class="table">
        <div class="tr th">
          <div class="td-center">
            Downloads
          </div>
        </div>
        <div class="tr" v-for="(file,index) in files">
          <div class="td item-container-row">
            <div class="item-thumb"><img v-bind:src="file.thumbnail_url" height="50" width="80"></div>
            <div class="item-container-column">
              <div class="item medium-text" style="margin-bottom: 3px">{{file.title}}</div>
              <div class="item small-text">{{file.locFile}}</div>
              <div class="item small-text">{{file.youtubeUrl}}</div>
              <div class="item small-text" v-bind:id="file.id"></div>
              <div class="item small-text">{{file.received}} / {{file.size}}</div>
              <div class="item-container-row">
                <a href="#" class="item text-button-light" v-on:click="startDownload(index)" v-if="!file.downloaded">Start</a>
                <a href="#" class="item text-button-light" v-on:click="showInFolder(index)" v-if="file.downloaded">Show in Folder</a>
                <a href="#" class="item text-button-light" v-on:click="clearFile(index)">Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<pre>
  batch
{{batch}}
  line_errors
{{line_errors}}
  youtube_error
{{youtube_error}}
    </pre>-->
 
  </div>

  <div id="debug"></div>

</body>

<script>
  // You can also require other files to run in this process
  require('./renderer.js')
</script>

</html>